@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f6f4ec;
  --font-secondary: "Archivo Black", sans-serif;
  --font-primary: "Azeret Mono", monospace;
}

body {
  @apply bg-primary font-primary;
}

.page-wrapper {
  @apply h-[calc(100vh-96px)] md:h-[calc(100vh-68px)];
}

.get-in-touch-hover {
  @apply before:bg-primary duration-500 before:absolute before:inset-0 before:-z-1 before:w-0 before:rounded-md before:border-black before:transition-all before:content-[""] hover:before:w-full hover:before:border;
}

.projects-hover {
  @apply duration-500 before:absolute before:inset-0 before:-z-1 before:w-0 before:rounded-md before:bg-black before:transition-all before:content-[""] hover:before:w-full;
}
