@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f6f4ec;
  --font-secondary: "Archivo Black", sans-serif;
  --font-primary: "Azeret Mono", monospace;
}

body {
  @apply bg-primary font-primary;
}
