@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f6f4ec;
  --font-secondary: "Archivo Black", sans-serif;
  --font-primary: "Azeret Mono", monospace;
}

body {
  @apply bg-primary font-primary;
}

.page-wrapper {
  @apply h-[calc(100vh-96px)] md:h-[calc(100vh-68px)];
}

/* Navbar hover start */

.nav-item {
  @apply relative py-1;
}

.nav-item::before {
  @apply absolute bottom-0 left-1/2 h-0.5 w-0 -translate-x-1/2 transition-[width] duration-300 ease-out content-[""];
}

.nav-item:hover::before {
  @apply w-full;
}

.nav-underline {
  @apply absolute bottom-0 left-0 h-0.5 w-full;
}

/* Navbar hover end */
::-webkit-scrollbar {
  display: none;
}
